*{
	padding: unset;
  margin: unset;
  border: unset;
  outline: unset;
  font-weight: 400;
  color: #3C3C3B;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body { height: 100%; }
body { background-color: #ffffff; }
ul, ol, li, a, p, span, strong, i, em, div, section {
  font-size: inherit;
  font-weight: inherit;
  color:inherit;
}
img { display: block; width: 100%; }
a { text-decoration: none; }
strong, b { font-weight: 600; }
i, em { font-style: italic; }
ul, ol, li, button, span { display: block; }
button, a { cursor: pointer; }

h1{
  color:#3B7A57;
}
h2{
  margin: 10px 0;
  color:#00678a;
}
p{
  margin-top: 10px;
}
.code{
  display: flex;
}
.main{
  margin: 0 auto;
  max-width: 1024px;
}
.pic{   
  width: 198px;
  height: 249px;
}
.contacts{
  margin-bottom: 20px;
}